body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {


--bg-color: #37718E;  
--border-color: #00DFFF;  
--white-color: #ffffff;
--darkBlue-color: #254E70;
--button-red: #b4324a;
--background-color: linear-gradient(to left, #ececec, #ececec, #ececec, #ececec, #ececec);  
--box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.548);  
--button-black-hover:rgb(211, 211, 211);
--button-gray-hover:rgba(177, 177, 177, 0.966);
}

// .dark-theme{
// --black-color: #181410;  
// --gray-color: #3B3730;  
// --white-color: #ffffff;
// --button-gray: #2E2E2E;
// --background-color: linear-gradient(to left, #000000, #441d22, #863330, #B7410E, #fb7f17);  
// --box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
// --button-black-hover:rgb(49, 49, 49);
// --button-gray-hover:rgba(0, 0, 0, 0.753);
// }

// .light-theme{

// }

section{
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.container{
width: 100%;
height: auto;
max-width: 450px;
background-color: var(--bg-color);
border-radius: 3.5em;
border-style: solid;
border-color: var(--border-color);
border-width: 10px;
overflow: hidden;
padding-bottom: 20px;
}

header{
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  
}

.display{

  width:90%;
  text-align: center;
  background-color: var(--darkBlue-color);
  border-radius: 3em;
  margin-left: auto;
  margin-right: auto;

  .counterTag{
    font-size: 140px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 50px 0 0 0;
    
  }

  .peopleTag{
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 0 0 50px 0;

  }
}
.buttons{
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 50px 0px;
  

  .button-style {
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: var(--button-red);
    width: 150px;
    min-height: 50px;
    font-weight: bold;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.history {
  width:70%;
  text-align: center;
  background-color: var(--darkBlue-color);
  border-radius: 1.5em;
  margin-left: auto;
  margin-right: auto;
  overflow:  hidden;
  
  .saveEntry {
    font-size: 1.5em;
    color: white;
    font-family: 'Poppins';
  }
  
  p{
    color: rgb(255, 255, 255);
    font-family: 'Poppins';
  }
}

