body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg-color: white;
  --border-color: black;
  --bg-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

.dark-theme {
  --bg-color: rgb(0, 0, 0);
  --border-color: rgb(255, 255, 255);
  --bg-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.container {
  border: 4px solid var(--border-color);
  background-color: var(--bg-color);
  border-radius: 20px;
  width: 100%;
  height: auto;
  max-width: 450px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
  font-size: 30px;
  color: var(--border-color);
  font-family: 'Montserrat',sans-serif;
  font-weight: 900;
  padding-top: 20px;
}

.title {
  margin-left: 30px;
}

.img {
  max-width: 19px;
  cursor: pointer;
}

.container {
  padding: 0px;
  margin: 0px;
}

.display {
  text-align: center;
  padding-bottom: 50px;
}

.display .counterTag {
  font-size: 100px;
  color: var(--border-color);
  font-family: 'Poppins', sans-serif;
  padding-top: 50px;
  line-height: 100px;
  font-weight: 200;
}

.display .peopleTag {
  font-size: 20px;
  font-weight: 500;
  color: var(--border-color);
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
}

.buttons {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.buttons .button-style {
  border-radius: 10px;
  border: 2px solid var(--border-color);
  color: var(--border-color);
  width: auto;
  min-height: 50px;
  font-weight: bold;
  font-family: 'Poppins';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 5px;
}

.history {
  width: 80%;
  min-width: auto;
  text-align: center;
  height: 100px;
  border: 4px solid var(--border-color);
  border-radius: 1.5em;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.history .saveEntry {
  font-size: 1.5em;
  color: var(--border-color);
  font-family: 'Poppins';
  line-height: 20px;
}

.history .dataEntry {
  color: var(--border-color);
  font-family: 'Poppins';
}

@media (min-width: 269px) and (max-width: 352px) {
  .title {
    margin-left: 0px;
    font-size: 25px;
  }
  .img {
    max-width: 15px;
    cursor: pointer;
  }
}

@media (min-width: 262px) and (max-width: 268px) {
  .title {
    margin-left: 0px;
    font-size: 23px;
  }
  .img {
    max-width: 14px;
    cursor: pointer;
  }
}

@media (min-width: 210px) and (max-width: 261px) {
  .title {
    margin-left: 0px;
    font-size: 18px;
  }
  .img {
    max-width: 11px;
    cursor: pointer;
  }
  .saveBtn {
    font-size: 13px;
  }
  .resetBtn {
    font-size: 13px;
  }
}

@media (min-width: 100px) and (max-width: 209px) {
  .title {
    margin-left: 0px;
    font-size: 18px;
  }
  .img {
    max-width: 11px;
    cursor: pointer;
  }
  .saveBtn {
    font-size: 13px;
  }
  .resetBtn {
    font-size: 13px;
  }
  .buttons {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .buttons .button-style {
    width: 90px;
    min-height: 50px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */